html
  body
    form(action='/forgetpassword', method='post')
      div
        label Username:
        |     
        input(type='text', name='username')
      |   
      div
        input(type='submit', value='get auth key')