html
  body
    form(action='/passwordreset', method='post')
      div
        label Auth Key:
        |     
        input(type='text', name='auth')
      |   
      div
        input(type='submit', value='verify')