html
    head
        meta(charset='utf-8')
        |     
        title Welcome Page
    |   
    body
        h1 Login Success
        form(action='/logout', method='GET')
            input(type='submit', value='logout')
